<! doctype html>
<html>
    <head>

    </head>
    <body>
        <table>
            <tr>
                {% for day in days %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
            <tr>
               {% for i in '1234567'|make_list %}
                   <th>
                        {% for event in events %}

                            {% if event.get_week == week %}
                                {{ event.get_day }} - {{ i }}
                                {% if event.get_day == i %}
                                    {{ event.title }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                   </th>
               {% endfor %}
            </tr>
        </table>
    </body>
</html>